<div class="container__main-card">

  <div class="main-card__photo">
    <img src="https://as01.epimg.net/betech/imagenes/2019/02/18/portada/1550521496_408433_1550521589_noticia_normal.jpg"
         alt=""
         srcset="">
  </div>
  <div  class="main-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div  class="main-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium mattis mauris, nec molestie nisl ultricies sed. Praesent ac elementum sapien, vitae tempor massa.</p>
  </div>
</div>
